* {
    box-sizing: border-box;
}

button {
    font-size: 2rem;
    padding: 10px 20px;
    border-radius: 5px;
}

#grid-container {
    display: grid;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    width: max(500px, 30vw);
    margin: 20vh auto;
    border: 5px solid black;
}

.screen {
    grid-column: 1 / 5;
    height: max(150px , 5vw);
    background-color: rgb(50, 50, 50);
    margin: 0px;
    border-radius: 5px;
    color: white;
    font-size: 3rem;
    text-align: right;
    padding: 20px;
}

.clear {
    grid-column: 1 / span 2;
}

.zero {
    grid-column: 1 / span 2;
}

.operators {
    background: orange;
}